.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

    .image-container img {
        transition: transform 0.3s ease;
        height: auto;
    }

        .image-container img:hover {
            transform: scale(1.1); /* Збільшуємо зображення на 10% */
        }
    .image-container div {
        margin: 10px; /* Проміжок між зображеннями */
    }
.image-title {
    text-align: center;
}
.verysmall-image {
    width: 55px;
}
.small-image {
    width: 70px;
}
.smallmid-image {
    width: 110px;
}
.medium-image {
    width: 140px;
}

.large-image {
    width: 160px;
}
.sun-image {
    width: 300px;
}
.solar {
    margin-top: 50px;
    
}