@model List< AstroBlog.Models.Domain.Tag>
@{
}

<section class="inner-banner py-5">
	<div class="w3l-breadcrumb py-lg-5 ">
		<div class="container pt-5 pb-sm-4 pb-2">
			<h4 class="inner-text-title font-weight-bold pt-5">Blog</h4>
			<ul class="breadcrumbs-custom-path">
				<li><a href="index.html">Home</a></li>
				<li class="active"><i class="fas fa-angle-right mx-2"></i>Post</li>
			</ul>
		</div>
	</div>
</section>

<div class="container" py-5>
    @if (Model != null && Model.Any())
    {
       <table class="table">
           <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>DisplayName</th>
                    <th> </th>
                </tr>
           </thead>
           <tbody>
               @foreach(var tag in Model)
                {
                  <tr>
                      <td>@tag.Id</td>
                       <td>@tag.Name</td>
                        <td>@tag.DisplayName</td>
                        <td>
                            <a asp-area="" asp-controller="AdminTags" asp-action="Edit" asp-route-id="@tag.Id">Edit </a>
                        </td>
                  </tr>  
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No Tags found!</p>
    }
</div>